@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat-bold';
  src: url(/public/fonts/MontserratExtrabold-VGO60.ttf);
}
@font-face {
  font-family: 'montserrat';
  src: url(/public/fonts/MontserratSemibold-Yz368.ttf);
}
@font-face {
  font-family: 'montserrat-thin';
  src: url(/public/fonts/MontserratLight-6YemM.otf);
}